@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

body {
  background-image: url("../assets/img/geral/background/space.jpg");
  color: black;
  font-family: "Comic Sans", sans-serif;
  cursor: url("../assets/img/geral/cursor_wizard.png"), auto;
}

header {
  background-color: purple;
  margin: 0 auto;
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: center;
}

.nav-elem {
  background-color: #00ff00;
  color: #c23276;
  margin: 10px;
  text-align: center;
}

.nav-elem:hover {
  transform: rotate(15deg);
}

h1 {
  display: inline;
  text-align: center;
  color: yellow;
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 84px;
}

h2 {
    color: yellow
}

.center-text {
  text-align: center;
}

h3 {
  color: #c23276;
}

h4 {
  padding: 0;
  border: 0;
  color: yellow;
}

a:link {
  color: yellow
}

a:visited {
  color: yellow
}

a.nav-elem:link {
  color: #c23276;
}

a.nav-elem:visited {
  color: #c23276;
}

.ul {
    list-style-image: url(../assets/img/geral/starTopic.gif);
}

.subul {
    list-style-image: url(../assets/img/now/greenstar.gif);
}

#pfp {
  display: inline;
  background-image: url("../assets/img/geral/background/stars.webp");
  background-repeat: no-repeat;
  padding: 25px 25px;
}

#gata {
  width: 160px;
  height: 200px;
  background-image: url("../assets/img/geral/gata.png");
  background-repeat: no-repeat;
  background-size: 160px;
}

#gata:hover {
  background-image: url("../assets/img/geral/linguinha.png");
  background-repeat: no-repeat;
  background-size: 160px;  
  background-position-y: center;
}

#main {
  background-color: #20124d;
  margin: 0 auto;
  padding: 10px 20px;
  width: 75%;   
}

#buttons {
  display: flex;
  justify-content: space-around;
}

#update {
  background-color: #e9158d;
  margin: 0 auto;
  padding: 0px 20px;
  width: 75%;   
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: purple;
  margin: 20px auto;
  width: 90%;    
}

#buttons {
  display: flex;
  justify-content: center;
}

#bottom_button {
  display: flex;
  justify-content: end;
}

p {
  margin: 1px 0;  
  color: #00ff00
}

@font-face {
  font-family: "Comic Sans";
  src: url('../assets/ComicSansMS3.ttf') format('truetype');
}
